* {
  box-sizing: border-box;
}

.intro {
  margin-top: 10px;
}

img {
  background-repeat: no-repeat;
  display: block;
    margin-left: auto;
    margin-right: auto
}

.intro-heading {
  margin-top: 40px;
}

.header {
  text-align: center;
}

.intro {
  text-align: center;
}

.about {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.contact {
  text-align: center;
}

ol {
  text-align: center;
  list-style-position: inside;
}

ul {
    text-align: center;
    list-style-position: inside;
}
