* {
  box-sizing: border-box;
}

.intro {
  margin-top: 10px;
}

img {
  background-repeat: no-repeat;
  margin: 10px;
}

.intro-heading {
  margin-top: 100px;
}

body {
  background-color: blue;
  font-family: sans-serif;
}

.header {
  text-align: center;
}
